{% extends "page.html" %}

{% block styles %}
    {{ super() }}
    {% asset 'ckanext-bpatheme/bootstraptable-css' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% asset 'ckanext-bpatheme/bootstraptable-js' %}
{% endblock %}

{% block subtitle %}{{ _('Summary') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Summary'), 'bpatheme.summary_index' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block summary %}
        <h1 class="page-heading">{{ _('Summary') }}</h1>
        {% snippet 'summary/snippets/summary_table.html', spreadsheet_data=spreadsheet_data,  spreadsheet_columns=spreadsheet_columns%}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
