{% ckan_extends %}

{% block package_additional_info %}
{% set empty_fields = [] %}
  {%- for field in h.order_schema_fields(schema.dataset_fields) -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none
        and pkg_dict[field.field_name] -%}
      <tr>
        <th scope="row" class="dataset-label">{{
          h.scheming_language_text(field.label) }}</th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property
          }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {%- else -%}
       {% set empty_fields = empty_fields.append(field) %}
    {%- endif -%}
  {%- endfor -%}
  {% if h.show_empty_fields() %}
  {%- for field in empty_fields -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none -%}
      <tr>
        <th scope="row" class="dataset-label">{{
          h.scheming_language_text(field.label) }}</th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property
          }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
  {% endif %}
  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}
{% endblock %}
