<div class="text-center">
    <div class="btn-group" role="group">
        <a class="btn btn-default btn-lg"  target="_other" href="/bpa/otu/map" role="button">Map</a>
        <a class="btn btn-default btn-lg"  target="_other" href="/bpa/otu/contextual" role="button">Contextual data</a>
        <a class="btn btn-default btn-lg"  target="_other" href="/organization/australian-microbiome" role="button">Sequence data</a>
        <a class="btn btn-default btn-lg"  target="_other" href="/bpa/otu/" role="button">Processed data</a>
    </div>
</div>