<h1>Acceptable Use Policy</h1>

<ol class="nested">
  <li>
    You may use the Bioplatforms Australia Data Portal to find, download and interpret life science data for the purposes of research, or research training. Use is defined by the Data and Collaboration policy for each initiative that can be accessed through the <a href="https://bioplatforms.com/initiatives/" target="_blank"> Bioplatforms Australia website <a/>
  </li>
  <li>
    You agree to interact with the Bioplatforms Australia Community (defined as other users of the service, consortium members, research partners, technical support staff, operational staff, and those involved in governance of the service) in a responsible and respectful manner at all times, consistent with the
    <a href="https://doi.org/10.5281/zenodo.4276854" target="_blank">Australian BioCommons Code of Conduct</a>.
  </li>
  <li>
    The following uses of Bioplatforms Australia Data Portal are explicitly forbidden:
    <ol>
      <li>
        The deliberate or reckless creation, transmission, storage, downloading, or display of any offensive or menacing images, data, metadata or other material, or any data capable of being resolved into such images or material
      </li>
      <li>
        Use which constitutes an infringement of any intellectual property rights of another person or organisation
      </li>
      <li>
        The creation of duplicate user account and/or double registration by a single user for the purposes of intentionally circumventing service limits on the Bioplatforms Australia Data Portal
      </li>
      <li>
        Attempt to or circumvent the appropriate authentication or access control measures, security or restrictions on the use of a registered account, including the unauthorised distribution or use of tools of any kind for compromising security
      </li>
      <li>
        The transfer, storage or processing of any sensitive data, including but not limited to potentially personally identifying genetic, genomic or medical data unless explicity approved by Bioplatforms Australia
      </li>
      <li>
        Communications which would be actionable under the law of defamation
      </li>
      <li>
        Deliberate or reckless undertaking of activities which seek to or result in:
        <ol>
          <li>
            the imposition of (or attempted imposition of) an unreasonable burden on the Bioplatforms Australia Operations and Support teams,
          </li>
          <li>
            excessive data transfer from the Bioplatforms Australia Data Portal,
          </li>
          <li>
            corruption of or disruption to data stored on the Bioplatforms Australia Data Portal, or to the data of another user,
          </li>
          <li>
            disruption to other users, and/or
          </li>
          <li>
            introduction or transmission of malware into Bioplatforms Australia’s systems.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    Other uses of Bioplatforms Australia Data Portal are only permitted with the written permission from Bioplatforms Australia Data Portal Manager - please
    <a href="mailto:help@bioplatforms.com">contact us</a>
    if you feel that this is neccessary.
  </li>
</ol>
