<h1>Privacy Policy and Data Collection Statement</h1>


<div class="textbox">
  <h3>Definitions</h3>

  <p>
    <b>Personal information</b> means recorded information or an opinion about an individual whose identity is apparent or can reasonably be ascertained from the information or opinion. It encompasses health and sensitive information.
  </p>

  <p>
    <b>Sensitive information</b> means information or opinion revealing an individual’s racial or ethnic origin, political opinions, membership of a political association, religious or philosophical beliefs or affiliations, membership of a professional or trade association, membership of a trade union, sexual preferences or practices, or criminal record.
  </p>

  <p>
    <b>Health information</b> means information or an opinion about a person’s physical, mental or psychological health, any disability they may have, and any treatment they have received or wish to receive, that is also personal information. It includes genetic data that could be predictive of their or their family’s health, and personal information collected in relation to the provision of a health service or in connection with organ or tissue donation.
  </p>

  <p>
    <b>“We”, “Our”</b>
    means Bioplatforms Australia, and may include other <a href="#operational-partners">Operational Partners</a> and service providers.
  </p>
</div>


<h3>Privacy Policy and Data Collection</h3>

<p>
  Bioplatforms Australia is committed to protecting your privacy. We do not collect, process, retain or share personal data other than for the purposes described below.
</p>

<ol class="nested">
  <li>
    <span class="lead fw-bold">
      Usage data
    </span>
    <ol>
      <li>
        In order to monitor and enhance the Bioplatforms Australia Data Portal and associated applications, we track and retain information about your interaction with the service (i.e. IP addresses, cookies, pages visited, tool invocation parameters, data uploads, etc).
      </li>
      <li>
        We may share log files of your interactions with the service.
      </li>
      <li>
        For promotional, funding and reporting reasons, Bioplatforms Australia periodically creates public usage reports. When we do, we aggregate and anonymise this data to protect your privacy.
      </li>
    </ol>
  </li>

  <li>
    <span class="lead fw-bold">
      Registration data
    </span>
    <ol>
      <li>
        If you choose to register an account with the Bioplatforms Australia Data Portal and associated applications, we collect registration data (i.e. email address, institutional affiliation and public name).
      </li>
      <li>
        We may store and examine registration data to provide access to advanced features, extended quotas, and specialised computing facilities.
      </li>
      <li>
        Bioplatforms Australia may contact registered account holders using the email address they provide for operational reasons, including:
        <ol>
          <li>
            checking user account security including email verification,
          </li>
          <li>
            communicating service downtime,
          </li>
          <li>
            communicating service improvements,
          </li>
          <li>
            communicating actions we are taking with respect to data available or provided to you,
          </li>
          <li>
            communicating actions we are taking with respect to service and network capacity,
          </li>
          <li>
            responding to your support requests,
          </li>
          <li>
            surveying existing and planned use in order to improve and promote the service,
          </li>
          <li>
            discussing breaches of these Terms of Use, and
          </li>
          <li>
            communicating updates to Bioplatforms Australia policies
          </li>
        </ol>
      </li>
      <li>
        Bioplatforms Australia may contact registered account holders using the email address they provide for promotional reasons, such as seeking consent and content for newsletters, annual reports or media releases by operational partners and funding partners.
      </li>
    </ol>
  </li>

  <li>
    <span class="lead fw-bold">
      Data you download
    </span>
    <ol>
      <li>
        The Bioplatforms Australia Data Portal will make datasets available for you to download for your research activities.
      </li>
      <li>
        Use of the downloaded data is subject to the license and usage conditions associated with each dataset. This may include restrictions on use and embargo periods. Data use is defined by the Data and Collaboration policy for each initiative that can be accessed through the <a href="https://bioplatforms.com/initiatives/" target="_blank"> Bioplatforms Australia website </a>
      </li>
      <li>
        Appropriate citation and acknowledgement of Bioplatforms Australia and our associated research groups and partners is requested.  Details can be found for each initiative through the <a href="https://bioplatforms.com/initiatives/" target="_blank"> Bioplatforms Australia website </a>.
      </li>
      <li>
        Access to, the mechanism of and volume of data transferred is subject to our <a href="#acceptable-use">Acceptable Use Policy</a>.
      </li>
    </ol>
  </li>

  <li>
    <span class="lead fw-bold">
      Support requests
    </span>
    <ol>
      <li>
        When you submit a support request with Bioplatforms Australia, we collect your email address, and may ask for personal data as part of the support process.
      </li>
      <li>
        Data collected as part of a support request is stored in our instance of Zendesk - please refer to the
        <a href="https://www.zendesk.com/au/company/privacy./#" target="_blank">Zendesk Privacy Policy</a>
        for more information.
      </li>
    </ol>
  </li>

  <li>
    <span class="lead fw-bold">
      Cookies
    </span>
    <ol>
      <li>
        The Bioplatforms Australia Data Portal and associated applications use cookies to identify users/computers in order to maintain user sessions.
      </li>
      <li>
        The Bioplatforms Australia Data Portal cookies are not linked to your Registration data.
      </li>
      <li>
        If you prefer not to receive cookies, you may set your browser to warn you before accepting cookies or you may also refuse all cookies by turning them off in your browser. Not accepting Bioplatforms Australia Data Portal cookies will limit the functionality of the service.
      </li>
    </ol>
  </li>

  <li>
    <span class="lead fw-bold">
      Analytics
    </span>
    <ol>
      <li>
        Bioplatforms Australia uses Google Analytics to analyse usage and improve the service. Google Analytics uses cookies to generate data which is transmitted to Google. You can view Google’s Privacy Policy and options for controlling the data collected
        <a href="https://policies.google.com/technologies/partner-sites" target="_blank">here</a>.
      </li>
    </ol>
  </li>

  <li id="data-location">
    <span class="lead fw-bold">
      Data location
    </span>
    <ol>
      <li>
        Google Analytics uses cookies to generate data which may be transmitted and stored in Google servers outside Australia.
      </li>
      <li>
        User support data managed by Zendesk may be stored outside Australia.
      </li>
      <li>
        All other data is stored and processed in Australia by the Bioplatforms Australia Operational Partners, and will not be provided to any third party unless
        <ol>
          <li>
            you choose to share content through the service, or
          </li>
          <li>
            we are required to do so by law.
          </li>
        </ol>
      </li>
    </ol>
  </li>

  <li>
    <span class="lead fw-bold">
      Modifying and removing personal data
    </span>
    <ol>
      <li>
        Registered account holders can see and modify the personal information collected by Bioplatoforms Australia Data Portal by logging into the service and navigating to
        the User page by clicking on your name in the top right corner.
      </li>
      <li>
        Registered account holders can request removal of personal information at any time. Please
        <a href="mailto:help@bioplatforms.com">contact us</a>
        if you are in this position.
      </li>
    </ol>
  </li>
</ol>
