<h1>Terms of service</h1>

<p>
  The Bioplatforms Australia Data Portal is an online data management system providing an archive for life science data
  alongside a search and retrieval service. The service is offered by
  <a href="https://bioplatforms.com/" target="_blank">
    Bioplatforms Australia
  </a>
  in conjunction with partners and suppliers.
</p>

<p>
  Interaction with the Bioplatforms Australia Data Portal website
  <a href="https://data.bioplatforms.com/" target="_blank">https://data.bioplatforms.com/</a>
  denotes agreement with the following terms:
</p>

<ol class="nested">
  <li>
    <span class="lead fw-bold">
      Use of service
    </span>
    <ol>
      <li>The Bioplatforms Australia Data Portal provides access to life science datasets (comprising metadata and data files, e.g. sequence files) via web and API interfaces.
        Use that respects these Terms of Use is permitted.
      </li>

      <li>
        You may choose to register an account via the Bioplatforms Australia in order to access the API and download data files.
      </li>

      <li>
        The key features of the Bioplatforms Data Portal are:
        <ul>
          <li>
            Searchable metadata for data archived on the system
          </li>

          <li>
            Data downloads via the website, downloadable tools or the API.
          </li>

          <li>
            Support information on how to access and use these features
          </li>

        </ul>
      </li>

      <li>
        Your access to Bioplatforms Australia Data Portal is provided under the condition that you abide by our
        <a href="#acceptable-use">Acceptable Use Policy</a>.
      </li>

      <li>
        You indemnify and hold Bioplatforms Australia and our partners and suppliers harmless against loss in connection with your use of the service.
      </li>

      <li>
        You agree to acknowledge use of data provided by the Bioplatforms Australia Data Portal in your research outputs using the citation
        and Acknowledgement Statement information that we provide to you through the <a href="https://bioplatforms.com/initiatives/" target="_blank"> Bioplatforms Australia website </a>.
      </li>
    </ol>
  </li>

  <li>
    <span class="lead fw-bold">
      Research data movement, hosting and analysis
    </span>

    <ol>
      <li>
        The Bioplatforms Australia Data Portal is designed to be a centralised resource of life science data.  
      </li>

      <li>
        The Bioplatforms Australia Data Portal is provisioned to support one-off, specific data transfers from our systems to yours.
        Please <a href="mailto:help@bioplatforms.com">contact us</a> for support for large scale, bulk or repetitive transfers.
      </li>

      <li>
        You are welcome to undertake data analysis and visualisation with the data, providing you comply with applicable laws of the Commonwealth of Australia, as well as laws of other jurisdictions that might be applicable due to the sensitivity, provenance, intended use, ownership, or licensing imposed on the data being processed.
      </li>
    </ol>
  </li>

  <li>
    <span class="lead fw-bold">
      Use of and Sharing content
    </span>

    <ol>
      <li>
        The Bioplatforms Australia Data Portal is designed to support reproducible science.  We encourage you to create and share workflows and visualisations using openly accessible platforms.
      </li>
      <li>
        Datasets and their associated metadata on the Bioplatforms Australia Data Portal may be updated, replaced or removed from the system from time to time for reasons at our discretion.  This typically
        includes corrections and quality assurance.
      </li>

      <li>
        Access to specific datasets and their associated metadata may be restricted to particular users for early access embargos, policy or other reasons.   Where possible, we will advise you if that 
        is the case.
      </li>

      <li>
        Datasets and their associated metadata will be retained per the requirements of each individual Bioplatsforms Australia project and initiative.
      </li>

      <li>
        Download and use of data and content from the Bioplatforms Australia Data Portal does not transfer any intellectual property rights in the content to you.
      </li>
    </ol>
  </li>

  <li>
    <span class="lead fw-bold">
      Termination
    </span>

    <ol>
      <li>
        Bioplatforms Australia reserves the right, without notice, at its sole discretion and without liability,
        <ol>
          <li>
            to alter, delete or block access to content that it deems to be inappropriate, and
          </li>

          <li>
            to restrict or remove access where it considers that your use of Bioplatforms Australia Data Portal seeks to impede its operations or violates these Terms of Service and/or <a href="#acceptable-use">Acceptable Use Policy</a>.
          </li>
        </ol>
      </li>
    </ol>
  </li>

  <li>
    <span class="lead fw-bold">
      Change of Terms
    </span>

    <ol>
      <li>
        These Terms of Service are subject to change by Bioplatforms Australia at any time and without notice, other than through posting the updated Terms of Service and /or <a href="#acceptable-use">Acceptable Use Policy</a> on the
        <a href="https://data.bioplatforms.com/" target="_blank">https://data.bioplatforms.com/</a>
        website.
      </li>
    </ol>
  </li>
</ol>

<p>
  If you have any questions or comments with respect to the Bioplatforms Australia Data Portal, or if you are unsure whether your intended use complies with these Terms of Service, or if you seek permission for an intended use that does not fall within these Terms of Service, please <a href="mailto:help@bioplatforms.com">contact us</a>.
</p>
