<h1>Service commitments</h1>

<h3>Best effort operations</h3>

<p>
  We realise that access to the data available that is made available via the Bioplatforms Australia Data portal is important to you.  For that reason, we commit to making best efforts to keep the service as reliable and responsive as possible, and to keep your data intact.
</p>

<p>
  Our operational staff work a mix of normal Australian West and East Coast office hours. During those hours we aim to triage tickets, tool requests and reference data requests within two business days. Resolution of tickets, requests, outages and issues will take longer outside normal office hours, on weekends, and on public holidays.
</p>

<p>
  The Bioplatforms Australia Data Portal runs on a combination of research-grade and commercial-grade infrastructure contributed by our partners and suppliers.
  The reliability and capacity of the Bioplatforms Australia Data Portal may be impacted if partner or supplier infrastructure unexpectedly becomes unavailable.
</p>


<h3>Service capacity</h3>

<p>
  The Bioplatforms Australia Data Portal is underpinned by specialised compute and storage capabilities, allowing provision of data sets at scale.  We periodically review our capacity and performance, taking into account growth in users, and data held.
</p>

<p>
  From time to time the Bioplatforms Australia Data Portal may reach capacity, usually resulting in slower request responses.
</p>

<p>
  The Bioplatforms Australia Data Portal aspires to operate a “fair share” system, where capacity is distributed amongst researchers using the service.  For that reason, we may at times work with researchers to halt and reconfigure jobs that are causing adverse performance impacts or incurring data management costs.
</p>


<h3>Service lifetime</h3>

<p>
  Operations of the Bioplatforms Australia Data Portal are supported by funding from Bioplatforms Australia, enabled by the Commonwealth Government National Collaborative Research Infrastructure Strategy (NCRIS).
</p>


<h3>Maintenance</h3>

<p>
  The maintenance and administration of the Bioplatforms Australia Data Portal is a balance between service uptime and the health of the service.  From time to time, the service may become unavailable during planned or unscheduled maintenance events.
</p>

<h5>Planned maintenance</h5>

<p>
  Bioplatforms Australia Operational Partners and Suppliers plan upgrades and security patches to the service. During these planned maintenance periods, the service may not be available.
</p>

<p>
  Notification of planned service unavailability will be made via a notice on the Bioplatoforms Australia Data Portal website
  <a href="https://data.bioplatforms.com/" target="_blank">https://data.bioplatforms.com/</a>.
  The period of notice varies depending on the length of the planned service unavailability:
</p>

<div class="textbox text-center">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Planned Downtime</th>
        <th>Advanced Notice period</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>&lt; 10 minutes</td>
        <td>Without notice</td>
      </tr>

      <tr>
        <td>1 hour</td>
        <td>1 day</td>
      </tr>

      <tr>
        <td>1 day</td>
        <td>1 week</td>
      </tr>

      <tr>
        <td>1 week</td>
        <td>1 month</td>
      </tr>
    </tbody>
  </table>
</div>


<h5>Unscheduled maintenance</h5>

<p>
  On occasion, the Bioplatforms Australia Data Portal Operational Partners and Suppliers may need to perform urgent maintenance (e.g. for urgent security patching) resulting in Service downtime outside of scheduled and planned maintenance windows. In this case Bioplatforms Australia will make every effort to give users as much advance notice as is possible to limit disruption.
</p>
