{#
Embeds a organization within the sidebar of a page.

organization    - The organization dict.
truncate - A max length for the organization description. If not provided the description
           will be full length.
has_context_title - Boolean for whether to display a module-heading for when
                    this snippet appears within a non-organization template
                    (e.g. dataset page sidebar)

Example:

    {% snippet 'snippets/organization, organization=c.group_dict %}

#}

{% set truncate = truncate or 0 %}
{% set url = h.url_for(controller='organization', action='read', id=organization.name) %}

  {% block info %}
  <div class="module module-narrow module-shallow context-info">
    {% if has_context_title %}
      <h2 class="module-heading"><i class="icon-building"></i> {{ _('Organization') }}</h2>
    {% endif %}
    <section class="module-content">
      {% block inner %}
      {% block image %}
        <div class="image">
          <a href="{{ url }}">
            <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="{{ organization.name }}" />
          </a>
        </div>
      {% endblock %}
      {% block heading %}
      <h1 class="heading">{{ organization.title or organization.name }}
        {% if organization.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      </h1>
      {% endblock %}
      {% block description %}
        {% if organization.name == 'bpa-marine-microbes' %}
            <ul class="org-sidebar">
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/marine_microbes/samples">Samples</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/marine_microbes/sites">Collection Sites</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/marine_microbes/metagenomic_sequence_files">Metagenomic Sequences</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/marine_microbes/amplicons">Amplicon Sequences</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/marine_microbes/overview/">Sample Tracking</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/bpa/marine_microbes/"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>Downloads</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/marine_microbes/methods"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Methods</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/marine_microbes/consortium"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Consortium Participants</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/marine_microbes/contacts"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>Contacts</a></li>
            </ul>
        {% endif %}

        {% if organization.name == 'bpa-base' %}
            <ul class="org-sidebar">
                <li><a class="list-group-item" data-container="body" data-toggle="tooltip" data-placement="right" title="" href="/base/search" data-original-title="Search BASE OTU and contextual matrices to identify samples of interest">Search facility</a></li>
                <li><a class="list-group-item" data-container="body" data-toggle="tooltip" data-placement="right" title="" href="http://base.ala.org.au/datacheck/datasets" data-original-title="Atlas of Living Australia visualisation tools enabling visualisation of BASE data">ALA Visualisation Tools</a></li>
                <li><a class="list-group-item" href="/base/vocabulary/vocabularies/">Contextual Data Vocabularies</a>
                <li><a class="list-group-item" data-container="body" data-toggle="tooltip" data-placement="right" title="" href="/base/contextual/sites" data-original-title="View an interactive map of all sample locations">Collection Site Map</a></li>
                <li><a class="list-group-item" data-container="body" data-toggle="tooltip" data-placement="right" title="" href="/base/contextual/samplematrix" data-original-title="Browse all site contextual data (may take some time to load)">Contextual Data Matrix</a></li>
                <li><a class="list-group-item" data-container="body" data-toggle="tooltip" data-placement="right" title="" href="/base/amplicon/" data-original-title="View methodological metadata pertaining to the sequencing of each sample and amplicon and link to sequencing data for each sample">Amplicons</a></li>
                <li><a class="list-group-item" data-container="body" data-toggle="tooltip" data-placement="right" title="" href="/base/metagenomics/metagenomics" data-original-title="View methodological metadata pertaining to the sequencing of shotgun metagenomics for each sample and link to sequencing data for each sample">Metagenomics</a></li>
                <li><a class="list-group-item" data-container="body" data-toggle="tooltip" data-placement="right" title="" href="/base/information" data-original-title="Full OTU tables, OTU taxonomy and equences representing OTU’s (fasta), soil sample collection and sequencing methods">OTU’s, Methods and other information</a></li>
                <li><a class="list-group-item" data-container="body" data-toggle="tooltip" data-placement="right" title="" href="/base/454/samples" data-original-title="Link to data collected during initial project phase, prior to migration to illumina">454</a></li></li>
                <li><a class="list-group-item" href="/base/requestaccess">Request data download access </a></li>
                <li><a class="list-group-item" href="/base/acknowledgements"> Acknowledgements </a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/bpa/base/"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>Downloads</a></li>
                <li><a class="list-group-item" href="/base/contacts"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>Contacts</a></li>
              </ul>
        {% endif %}

        {% if organization.name == 'bpa-sepsis' %}
            <ul class="org-sidebar">
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/antibiotic_resistant_pathogens/samples">Samples</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/antibiotic_resistant_pathogens/genomicsmiseqfiles">Genomics Miseq Sequence</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/antibiotic_resistant_pathogens/genomicspacbiofiles">Genomics PacBio Sequence</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/antibiotic_resistant_pathogens/transcriptomicshiseqfiles">Transcriptomics Hiseq Sequence</a></li>
                <li><a class="list-group-item" href="">Proteomics MS1 quantification on DDA data</a></li>
                <li><a class="list-group-item" href="">Proteomics MS2 quantification on DIA/SWATH data</a></li>
                <li><a class="list-group-item" href="">Metabolomics LCMS analysis</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/antibiotic_resistant_pathogens/overview/">Project Overview</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/bpa/sepsis/"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>Downloads</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/antibiotic_resistant_pathogens/api/v2/"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>API</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/antibiotic_resistant_pathogens/consortium"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Consortium Participants</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/antibiotic_resistant_pathogens/contacts"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>Contacts</a></li>
              </ul>
        {% endif %}

        {% if organization.name == 'bpa-great-barrier-reef' %}
            <ul class="org-sidebar">
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/gbr/samples">Samples</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/gbr/amplicon/">Amplicons</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/gbr/sequencefiles">Sequence Files</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/gbr/sites">Collection Sites</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/gbr/collections">Collection Events</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/bpa/gbr/">Downloads</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/gbr/contacts">Contacts</a></li>
            </ul>
        {% endif %}

        {% if organization.name == 'bpa-melanoma' %}
            <ul class="org-sidebar">
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/melanoma/samples">Samples</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/melanoma/sequencefiles">Sequence Files</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/melanoma/arrays">Arrays</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/bpa/melanoma/">Downloads</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/melanoma/contacts">Contacts</a></li>
            </ul>
        {% endif %}

        {% if organization.name == 'bpa-wheat-pathogens-transcript' %}
            <ul class="org-sidebar">
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/wheat_pathogens_transcript/samples">Samples</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/wheat_pathogens_transcript/sequencefiles">Sequence Files</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/wheat_pathogens_transcript/contacts">Contacts</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/bpa/wheat_pathogens_transcript/">Downloads</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/wheat_pathogens_transcript/contacts">Contacts</a></li>
            </ul>
        {% endif %}

        {% if organization.name == 'bpa-wheat-pathogens-genomes' %}
            <ul class="org-sidebar">
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/wheat_pathogens/samples">Samples</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/wheat_pathogens/sequencefiles">Sequence Files</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/bpa/wheat_pathogens/">Downloads</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/wheat_pathogens/contacts">Contacts</a></li>
            </ul>
        {% endif %}

        {% if organization.name == 'bpa-wheat-cultivars' %}
            <ul class="org-sidebar">
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/wheat_cultivars/samples">Cultivars</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/wheat_cultivars/sequencefiles">Sequence Files</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/bpa/wheat_cultivars/">Downloads</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/wheat_cultivars/contacts">Contacts</a></li>
            </ul>
        {% endif %}

        {% if organization.name == 'bpa-barcode' %}
            <ul class="org-sidebar">
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/barcode/pilbara_flora">Pilbara Plant Diversity</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/barcode/contacts">Contacts</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/bpa/barcode/">Downloads</a></li>
                <li><a class="list-group-item" href="https://downloads.bioplatforms.com/barcode/contacts">Contacts</a></li>
<!--
                <li><a class="list-group-item" href="">Timber</a></li>
                <li><a class="list-group-item" href="">Fish</a></li>
                <li><a class="list-group-item" href="">Aquifer Diversity</a></li>
                <li><a class="list-group-item" href="">Orchids</a></li>
-->
            </ul>
        {% endif %}

        {% if organization.name == 'bpa-stemcells' %}
            <ul class="org-sidebar">
                <a class="list-group-item" href="https://downloads.bioplatforms.com/bpa/stemcell/">Downloads
                </a>
                <a class="list-group-item" href="https://downloads.bioplatforms.com/stemcell/contacts">Contacts</a>
            </ul>
        {% endif %}


      {% endblock %}
      {% if show_nums %}
        {% block nums %}
        {% endblock %}
        {% block follow %}
        {% endblock %}
      {% endif %}
      {% endblock %}
    </section>
  </div>
  {% endblock %}
