{#
Embeds organization info links within the sidebar of a page.

organization    - The organization dict.
title           - The Title of the link
key             - The key to look for the url in the organizations extras
alternative     - Alternative location to find info in the organizations pages

Example:

    {% snippet 'snippets/organization_info_link.html', organization=organization, title="Initiative Information", key="info_url", alternative="information" %}

#}

{% block organization_info_link %}
  {% set vars = { 'usealt': True }  %}

  {% if 'extras' in organization %}
    {% for item in organization['extras'] %}
      {% if 'key' in item %}
         {% if item['key'] == key and item['value']|length %}
           {% if vars.update({'usealt': False}) %} {% endif %}
	   <li class="nav-item"><a href="{{ item['value'] }}">{{ title }}</a></li>
         {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if vars.usealt %}
    {% if alternative is defined and alternative|length %}
	  <li class="nav-item"><a href="/organization/pages/{{ organization.name }}/{{ alternative }}">{{ title }}</a></li>
    {% endif %}
  {% endif %}
{% endblock %}
