{% ckan_extends %}
{% block package_list %}
  {% if packages %}
      {%- if calling_page != "organization_read" %}
          {{ h.snippet('ckanext_bulk/snippets/common_popover.html', calling_page="package_list", query=q) }}
      {%- endif %}
      {% asset 'shopping_cart/shopping_cart' %}
      {% snippet 'shopping_cart/snippets/dock.html', scope='user', username=g.userobj.name, cart='main-cart', heading='shopping_cart_dock_heading.html'%}  
      {% snippet 'shopping_cart/snippets/scripts.html' %}
    <div class="clearfix">&nbsp;</div>
    <ul class="{{ list_class or 'dataset-list list-unstyled' }}">
    	{% block package_list_inner %}
	      {% for package in packages %}
	        {% snippet 'snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title %}
	      {% endfor %}
	    {% endblock %}
    </ul>
  {% endif %}
{% endblock %}