{% ckan_extends %}

{% block heading_private %}
  {% if package.private %}
                <span class="dataset-private badge bg-secondary">
      <i class="fa fa-lock"></i>
      {{ _('Private') }}
    </span>
  {% endif %}
{% endblock %}

{% block heading_title %}
    <a href="{{ h.url_for('%s.read' % package.type, id=package.name) }}" title="{{ title }}">
      {{title|truncate(80)}}
    </a>
    {% snippet 'snippets/shopping_cart_add.html', pkg=package, extra_classes="btn-sm pull-right" %}
{% endblock %}
 {% block resources_outer %}
    <ul class="dataset-resources list-unstyled">
      {% block resources_inner %}
        <li class="dataset-resources-package-size">{{h.get_package_size_for_user(package)}}</li>
        {% for resource in h.dict_list_reduce(package.resources, 'format') %}
        <li>
          <a href="{{ h.url_for(package.type ~ '.read', id=package.name) }}" class="badge badge-default" data-format="{{ resource.lower() }}">{{ resource }}</a>
        </li>
        {% endfor %}
      {% endblock %}
    </ul>
{% endblock %}
