{% ckan_extends %}

{% block search_input %}
  {% snippet 'snippets/search_form_common.html', form_id=form_id, type=type, query=query, sorting=sorting, sorting_selected=sorting_selected, count=count, facets=facets, placeholder=placeholder, show_empty=show_empty, fields=fields %}

  {% snippet 'snippets/search_form_instructions.html' %}

{% endblock %}

{% block search_sortby %}

<div class="results">
  <div class="result-count">
    {% if not error %}
    <h2 class="result-found">{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</h2>
    {% else %}
    <h2 class="result-found">Error</h2>
    {% endif %}
   </div>
    {% if sorting %}

      <div class="form-select form-group control-order-by">
        <label for="field-order-by">{{ _('Order by') }}</label>
        <select id="field-order-by" name="sort" class="form-control">
          {% for label, value in sorting %}
            {% if label and value %}
              <option value="{{ value }}"{% if sorting_selected == value %}
                      selected="selected"{% endif %}>{{ label }}</option>
            {% endif %}
          {% endfor %}
        </select>
        {% block search_sortby_button %}
          <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
        {% endblock %}
      </div>
    {% endif %}
</div>
{% endblock %}

{% block search_title %}
{% endblock %}
{% block search_facets %}
      <p class="filter-list">
        {% for field in facets.fields %}
          {% set search_facets_items = facets.search.get(field)['items'] if facets.search and field in facets.search else [] %}
          <span class="facet">{{ facets.titles.get(field) }}:</span>
          {% for value in facets.fields[field] %}
            <span class="filtered pill">
              {%- if facets.translated_fields and (field,value) in facets.translated_fields -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
              {%- endif %}
              <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
          {% endfor %}
        {% endfor %}
      </p>
      <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
    {% if facets.fields %}
       {%- if not query and not c.userobj.sysadmin -%}
       {#  There is no query, but there are facets, so we need the popover bulk download button to think there is. #}
          {% set dud_query = "forced_by_facet" %}
           {% snippet 'ckanext_bulk/snippets/package_popover.html', q=dud_query %}
      {%- endif %}
{% endif %}


  {% endblock %}
