{% block search_instructions %}

<div class="search-instructions">
  <p>
  There are many different ways to download data from the Bioplatforms Australia Data Portal.
  </p>
  <ul>
    <li>
      To read more about finding and filtering data within this portal and downloading to your desktop please see the
      <a href="https://usersupport.bioplatforms.com/find_filter_download.html">
        Search Guide 
      </a>
    </li>
    <li>
      To read more about using our bulk download tool or command line access to data via API please see our 
      <a href="https://usersupport.bioplatforms.com/programmatic_access.html">
        API Guide
      </a>
    </li>
  </ul>
</div>

{% endblock %}
