{% if g.userobj %}
{% set item_name = pkg.name or "Unnamed" %}
{% set item_id = pkg.id or "Unidentified" %}
{% set title = pkg.title or "Untitled" %}
{% set item_type = pkg.type or "Untyped" %}
{% set item_org_id = pkg.organization.id or (organization.id or "Unorganised") %}
{% set item_notes = pkg.notes or "" %}
{% set cart_item = {"short_title":  h.truncate(title, 80), "title": title, "name": item_name, "type": item_type, "id": item_id, "organization_id": item_org_id, "notes": item_notes } %}
{% set extra_classes = extra_classes or "" %}
<button class="btn btn-secondary {{ extra_classes }}" data-module="shopping-cart-order" data-module-scope="user" data-module-username="{{ g.userobj.name }}" data-module-cart="main-cart" data-module-item="{{ cart_item.name }}" data-module-details="{{ h.dump_json(cart_item)}}" id="c_b_{{ cart_item.id }}"><i class="fa fa-solid fa-shopping-cart"></i><span id="c_b_t_{{cart_item.id}}">{{_('Add')}}</span></button>
<script>
    shopping_cart_observe_button("c_b_", "c_b_t_", "{{ cart_item.id }}", "shopping-cart-order-outside", " {{ _('Add') }}", "shopping-cart-order-inside", " {{ _('Remove' )}}" );
</script>
{% endif %}