{% extends "page.html" %}

{% block styles %}
    {{ super() }}
    {% asset 'shopping_cart/shopping_cart' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% asset 'shopping_cart/shopping_cart' %}
{% endblock %}


{% block subtitle %}{{ _('Shopping Cart') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Shopping Cart'), 'bpatheme.cart_index' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">

        <h1 class="page-heading">{{ _('Shopping Cart') }}</h1>
            {% snippet 'shopping_cart/snippets/dock.html', scope='session', cart='test', heading='shopping_cart_dock_heading.html', footer='shopping_cart_dock_footer.html', item='My item',counter='10' %}


 <ul>
     <li>Yellow</li>
     <li>Blue</li>
     <li>Green</li>
     <li>Red</li>
 </ul>
            </div>
  </article>
{% endblock %}
