{% extends "page.html" %}

{% block subtitle %}{{ _('Contact') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Contact'), 'bpatheme.contact_index' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block contact %}
          <h1 class="page-heading">{{ _('Contact') }}</h1>
          {% snippet 'home/snippets/contact_text.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
