<style>
.resized {
    width: 120px;
    height: 120px;
}
td .fa {
    font-size: 1.5em;
}
.right {
    width: 150px !important;
}
</style>

<div role="main" class="hero">
  <div class="container">
    <table class="table">
      <tr>
	  <td class="right">
	      <a href="/organization/about/bpa-base">
		  <img class="resized img-rounded" src="https://downloads.bioplatforms.com/static/base/base.png" alt="BASE">
	      </a>
	  </td>
	  <td>
	      <a href="/organization/about/bpa-base">
		  <h3>Biome of Australian Soil Environments</h3>
	      </a>
	      <p>
		  The Biome of Australia Soil Environments (BASE) is a collaborative project to
		  create a public resource containing microbial genome information from a range of
		  Australian soil environments.
	      </p>
	      <ul class="nav nav-pills">
		  <li> <a href="http://www.bioplatforms.com/soil-biodiversity/"> <span class="fa fa-info"></span> </a> </li>
		  <li> <a href="https://downloads-qcif.bioplatforms.com/bpa/base/"> <span class="fa fa-download"></span> </a> </li>
		  <li> <a href="https://downloads.bioplatforms.com/base/"></li>
	      </ul>
	  </td>
      </tr>

      <tr>
	  <td class="right">
	      <a href="/organization/about/bpa-marine-microbes">
		  <img class="resized img-rounded" src="tricho.jpg" alt="MM">
	      </a>
	  </td>
	  <td>
	      <a href="/organization/about/bpa-marine-microbes">
		  <h3>Marine Microbes</h3>
	      </a>
	      <p>
		  The Marine Microbes project will establish how Australia’s marine microbial
		  communities change over time in various locations and environments.
	      </p>
	      <ul class="nav nav-pills">
		  <li><a href="http://www.bioplatforms.com/marine-microbes/"> <span class="fa fa-info"></span> </a></li>
		  <li><a href="https://downloads-qcif.bioplatforms.com/bpa/marine_microbes/"> <span class="fa fa-download"></span> </a></li>
		  <li><a href="https://downloads.bioplatforms.com/marine_microbes/"></li>
	      </ul>
	  </td>
      </tr>
      <tr>
	  <td class="right">
	      <a href="/organization/about/bpa-sepsis">
		  <img class="resized  img-rounded" src="https://downloads.bioplatforms.com/static/sepsis/sepsis.png" alt="Sepsis">
	      </a>
	  </td>
	  <td>
	      <a href="/organization/about/bpa-sepsis">
		  <h3>Antibiotic Resistant Sepsis Pathogens</h3>
	      </a>
	      <p>
		  The Antibiotic Resistant Sepsis Pathogens Framework Initiative aims to develop a
		  framework dataset that will enable identification of core targets common to
		  antibiotic-resistant sepsis pathogens.
	      </p>
	      <ul class="nav nav-pills">
		  <li><a href="http://www.bioplatforms.com/antibiotic-resistant-pathogens"> <span class="fa fa-info"></span> </a></li>
		  <li><a href="https://downloads-qcif.bioplatforms.com/bpa/sepsis/"> <span class="fa fa-download"></span> </a></li>
	      </ul>
	  </td>
      </tr>

      <tr>
	  <td class="right">
	      <a href="organization/about/bpa-omg">
		  <img class="resized img-rounded" src="https://s3-ap-southeast-2.amazonaws.com/bpa-web-assets/Dasyurus_viverrinus_Taranna_AnnaMacDonald_CCBY.1200x1200.jpeg" alt="BASE">
	      </a>
	  </td>
	  <td>
	      <a href="organization/about/bpa-omg">
		  <h3>Oz Mammals Genome Initiative</h3>
	      </a>
	      <p>
		The Oz Mammal Genomes initiative is an Australia-wide collaboration involving researchers
		from more than 30 institutions, which aims to develop genomic resources for Australia's
		mammals.
	      </p>
	      <ul class="nav nav-pills">
		  <li> <a href="http://www.bioplatforms.com/oz-mammals/"> <span class="fa fa-info"></span> </a> </li>
		  <li> <a href="organization/bpa-omg"> <span class="fa fa-download"></span> </a> </li>
	      </ul>
	  </td>
      </tr>

      <tr>
	  <td class="right">
	      <a href="/organization/about/bpa-great-barrier-reef">
		  <img class="resized  img-rounded" src="https://downloads.bioplatforms.com/static/gbr/coral.png" alt="GBR">
	      </a>
	  </td>
	  <td>
	      <a href="/organization/about/bpa-great-barrier-reef">
		  <h3>Great Barrier Reef</h3>
	      </a>
	      <p>
		  The Sea-quence Project is generating core genetic data for corals from the
		  Great Barrier Reef and Red Sea to ultimately help guide reef management
		  practices.
	      </p>
	      <ul class="nav nav-pills">
		  <li><a href="http://www.bioplatforms.com/great-barrier-reef"> <span class="fa fa-info"></span> </a></li>
		  <li><a href="https://downloads-qcif.bioplatforms.com/bpa/gbr/"> <span class="fa fa-download"></span> </a></li>
	      </ul>
	  </td>
      </tr>

      <tr>
	  <td class="right">
	      <a href="/organization/about/bpa-melanoma">
		  <img class="resized  img-rounded" src="https://downloads.bioplatforms.com/static/melanoma/melanoma.png" alt="Melanoma">
	      </a>
	  </td>
	  <td>
	      <a href="/organization/about/bpa-melanoma">
		  <h3>Melanoma</h3>
	      </a>
	      <p>
		  The Melanoma Genomics Project aims to whole genome sequence approximately 500 melanoma patients.
	      </p>
	      <ul class="nav nav-pills">
		  <li><a href="http://www.bioplatforms.com/melanoma"> <span class="fa fa-info"></span> </a></li>
		  <li><a href="https://downloads-qcif.bioplatforms.com/bpa/melanoma/"> <span class="fa fa-download"></span> </a></li>
	      </ul>
	  </td>
      </tr>

      <tr>
	  <td class="right">
	      <a href="/organization/about/bpa-wheat-pathogens-transcript">
		  <img
		      class="resized  img-rounded"
		      src="https://downloads.bioplatforms.com/static/wheat_pathogens_transcript/fusarium_head_blight_infected_ear.png"
		      alt="Wheat Pathogens Transcript">
	      </a>
	  </td>
	  <td>
	      <a href="/organization/about/bpa-wheat-pathogens-transcript">
		  <h3>Wheat Pathogens Transcript</h3>
	      </a>
	      <p>
		  This dataset contains transcript sequence data from 8 different fungal pathogen species of wheat.
	      </p>
	      <ul class="nav nav-pills">
		  <li><a href="http://www.bioplatforms.com/wheat-datasets"> <span class="fa fa-info"></span> </a></li>
		  <li><a href="https://downloads-qcif.bioplatforms.com/bpa/wheat_pathogens_transcript/"> <span class="fa fa-download"></span> </a></li>
	      </ul>
	  </td>
      </tr>

      <tr>
	  <td class="right">
	      <a href="/organization/about/bpa-wheat-pathogens-genomes">
		  <img class="resized  img-rounded" src="https://downloads.bioplatforms.com/static/wheat_pathogens/stagonospora_nodorum.png" alt="Wheat Pathogens">
	      </a>
	  </td>
	  <td>
	      <a href="/organization/about/bpa-wheat-pathogens-genomes">
		  <h3>Wheat Pathogens Genomes</h3>
	      </a>
	      <p>
		  This dataset contains the genomic sequence from 10 fungal and 2 bacterial pathogen species. Among the
		  pathogens sequenced are the causal agents of stripe rust, stem rust, tan spot, glume blotch, septoria leaf
		  blotch, bare patch and crown rot/head blight.
	      </p>
	      <ul class="nav nav-pills">
		  <li><a href="http://www.bioplatforms.com/wheat-datasets"> <span class="fa fa-info"></span> </a></li>
		  <li><a href="https://downloads-qcif.bioplatforms.com/bpa/wheat_pathogens/"> <span class="fa fa-download"></span> </a></li>
	      </ul>
	  </td>
      </tr>

      <tr>
	  <td class="right">
	      <a href="/organization/about/bpa-wheat-cultivars">
		  <img class="resized  img-rounded" src="https://downloads.bioplatforms.com/static/wheat_cultivars/wheat.png" alt="Wheat Cultivars">
	      </a>
	  </td>
	  <td>
	      <a href="/organization/about/bpa-wheat-cultivars">
		  <h3>Wheat Cultivars</h3>
	      </a>
	      <p>
		  This dataset contains genomic sequence information from 16 wheat varieties of
		  importance to Australia selected and prioritised by the major stakeholders of
		  the Australian grains research community based on availability of mapping
		  populations and genetic diversity.
	      </p>
	      <ul class="nav nav-pills">
		  <li><a href="http://www.bioplatforms.com/wheat-datasets"> <span class="fa fa-info"></span> </a></li>
		  <li><a href="https://downloads-qcif.bioplatforms.com/bpa/wheat_cultivars/"> <span class="fa fa-download"></span> </a></li>
	      </ul>
	  </td>
      </tr>

      <tr>
	  <td class="right">
	      <a href="/organization/about/bpa-barcode">
		  <img class="resized  img-rounded" src="https://downloads.bioplatforms.com/static/barcode/barcode.png" alt="Barcode">
	      </a>
	  </td>
	  <td>
	      <a href="/organization/about/bpa-barcode">
		  <h3>Barcode</h3>
	      </a>
	      <p>
		  With DNA barcoding, we can vastly accelerate this rate of biodiversity
		  discovery and conservation as well as generate significant scientific and
		  economic benefits for the mining, fisheries and forestry industries.
	      </p>
	      <ul class="nav nav-pills">
		  <li><a href="http://www.bioplatforms.com/barcode"> <span class="fa fa-info"></span> </a></li>
		  <li><a href="https://downloads-qcif.bioplatforms.com/bpa/barcode/"> <span class="fa fa-download"></span> </a></li>
	      </ul>
	  </td>
      </tr>

      <tr>
	  <td class="right">
	      <a href="/organization/about/bpa-stemcells">
		  <img class="resized  img-rounded" src="https://downloads.bioplatforms.com/static/stemcell/stemcell.png" alt="Stemcell">
	      </a>
	  </td>
	  <td>
	      <a href="/organization/about/bpa-stemcells">
		  <h3>Stem Cells</h3>
	      </a>
	      <p>
		  Stem cells allow us to study fundamental processes in tissue growth,
		  development, aging and disease.
	      </p>
	      <ul class="nav nav-pills">
		  <li><a href="http://www.bioplatforms.com/stem-cells"> <span class="fa fa-info"></span> </a></li>
		  <li><a href="https://downloads-qcif.bioplatforms.com/bpa/stemcell/"> <span class="fa fa-download"></span> </a></li>
	      </ul>
	  </td>
      </tr>
    </table>
  </div>
</div>
