<style>
  td .fa {
    font-size: 1.5em;
  }

  .right {
    width: 150px !important;
  }
</style>
<script type="text/javascript" src="{{ h.url_for_static('fanstatic/vendor/jquery.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ h.url_for_static('watable/watable.css') }}"/>

<script type="text/javascript" src="{{ h.url_for_static('watable/jquery.watable.js') }}"></script>
<script>
 jQuery('#example1').WATable({
	data: generateSampleData(2)
});
//Generates some data.
function generateSampleData(limit) {
	//First define the columns
	var cols = {
		userId: {
			index: 1, //The order this column should appear in the table
			type: "number", //The type. Possible are string, number, bool, date(in milliseconds).
			friendly: "<span class='glyphicon glyphicon-user'></span>",  //Name that will be used in header. Can also be any html as shown here.
			format: "<a href='#' target='_blank'>{0}</a>",  //Used to format the data anything you want. Use {0} as placeholder for the actual data.
			unique: true,  //This is required if you want checkable rows, databinding or to use the rowClicked callback. Be certain the values are really unique or weird things will happen.
			sortOrder: "asc", //Data will initially be sorted by this column. Possible are "asc" or "desc"
			tooltip: "This column has an initial filter" //Show some additional info about column
			//filter: "1..400" //Set initial filter.
		},
		name: {
			index: 2,
			type: "string",
			friendly: "Name",
			cls: "blue, anotherClass", //apply some css classes
			tooltip: "This column has a custom placeholder and css classes", //Show some additional info about column
			placeHolder: "abc123" //Overrides default placeholder and placeholder specified in data types(row 34).
		},
		age: {
			index: 3,
			type: "number",
			friendly: "Age",
			sorting: true, //dont allow sorting
			tooltip: "This column has filtering and sorting turned off", //Show some additional info about column
			filter: false //Removes filter field for this column
		},
		weight: {
			index: 4,
			type: "number",
			decimals: 2, //Force decimal precision
			friendly: "Weight",
			placeHolder: "50..90",
			format: "{0}kg",
			tooltip: "This column has no tooltip for the filter", //Show some additional info about column
			filterTooltip: false //Turn off tooltip for this column
		},
		height: {
			index: 5,
			type: "number",
			friendly: "Height",
			hidden:true //Hides the column. Useful if you want this value later on but not visible to user. It can be made visible if columnPicker is enabled.
		},
		important: {
			index: 6,
			type: "bool",
			friendly: "Important"
		},
		someDate: {
			index: 7,
			type: "date", //Don't forget dates are expressed in milliseconds
			friendly: "SomeDate"
		},
		someDateDay: {
			index: 8,
			type: "date", //Don't forget dates are expressed in milliseconds
			dateFormat: "dddd", //Special date format
			friendly: "Day"
		}
	};
	/*
	  Create the rows (This step is of course normally done by your web server).
	  What's worth mentioning is the special row properties. See some examples below.
	  <column>Format allows you to override column format and have it formatted the way you want.
	  <column>Cls allows you to add css classes on the cell(td) element.
	  row-checkable allows you to prevent rows from being checkable.
	  row-checked allows you to pre-check a row.
	  row-cls allows you to add css classes to the row(tr) element.
	*/
	var rows = [];
	var i = 1;
	while(i <= limit)
	{
		//We leave some fields intentionally undefined, so you can see how sorting/filtering works with these.
		var row = {};
		row.userId           = i;
		row.name             = i % 100 == 0 ? undefined : elfName(); //Random name
		row.age              = Math.floor(Math.random() * 50) + 20; //Random age
		row.ageFormat        = row.age + (row.age > 50 ? " (senior)" : " (junior)"); //Special formatting
		row.weight           = (Math.floor(Math.random() * 40) + 50) + (Math.floor(Math.random() * 100) / 100); //Random weight
		row.weightCls        = row.weight < 70 ? 'green' : row.weight < 80 && row.weight >= 70 ? 'yellow' : 'red'; //Add css class to cell
		row.height           = Math.floor(Math.random() * 50) + 150; //Random height
		row.important        = i % 5 == 0 ? 1 : 0; //Random important
		row.someDate         = i % 4 == 0 ? undefined : Date.now() + (i*Math.floor(Math.random()*(60 * 60 * 24 * 100))); //Random date
		row.someDateDay      = row.someDate; //Use same date as above, but its column has different formatting
		row["row-checkable"] = i % 4 != 0; //disable checking for every 4th row
		row["row-checked"]   = i % 3 == 0; //pre check every 3rd row
		row["row-cls"]       = i % 3 == 0 ? "gray, anotherClass" : ""; //apply some row css classes for every 3rd row

		row.secret           = { "secret" : "foobar" }; //Add something else that you want later(ex in rowClicked event)
		rows.push(row);
		i++;
	}
	//Create the returning object. Besides cols and rows, you can also pass any other object you would need later on.
	var data = {
		cols: cols,
		rows: rows,
		otherStuff: {
			thatIMight: 1,
			needLater: true
		}
	};
	return data;
}

</script>
<div role="main" class="hero landing">
  <div class="search-background">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
  <div>
    <div id="example1" style="width:auto"></div>
    <table id="table_id" class="display" style="width:100%">
      <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>68</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
      </tr>
      <tr>
        <td>Garrett Winters</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>63</td>
        <td>2011/07/25</td>
        <td>$170,750</td>
      </tr>
      <tr>
        <td>Ashton Cox</td>
        <td>Junior Technical Author</td>
        <td>San Francisco</td>
        <td>66</td>
        <td>2009/01/12</td>
        <td>$86,000</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
      </tr>
      </tfoot>
    </table>

  </div>
  <div class="featured-orgs">
    {% set projects = [] %}
    {% set amdb = {
                'logo' : "new_ausmicro_logo.png",
                'has_logo' : "true",
                'icon' : "icon_amd.png",
                'slug' : "australian-microbiome",
                'url' : "/organization/about/australian-microbiome",
                'title' : "Australian Microbiome",
                'description' : "The Australian Microbiome Database is a collaborative project to create a public resource
                    containing microbial genome and associated site specific metadata information from a range of
                    Australian environments including soils, marine and freshwater.",
            } %}
    {% if projects.append(amdb) %} {% endif %}

    {% set sepsis = {
                'logo' : "sepsis.png",
                'icon' : "icon_sepsis.jpg",
                'slug' : "bpa-sepsis",
                'url' : "http://www.bioplatforms.com/antibiotic-resistant-pathogens",
                'title' : "Antibiotic Resistant Sepsis Pathogens",
                'description' : "
                        The Antibiotic Resistant Sepsis Pathogens Framework Initiative aims to develop a
                        framework dataset that will enable identification of core targets common to
                        antibiotic-resistant sepsis pathogens.
                ",
            } %}
    {% if projects.append(sepsis) %} {% endif %}

    {% set omg = {
                'logo' : "omg-logo.png",
                'has_logo' : "true",
                'special_class' : "no-circular-logo",
                'icon' : "icon_omg.jpg",
                'slug' : "bpa-omg",
                'url' : "http://www.bioplatforms.com/oz-mammals/",
                'title' : "Oz Mammals Genomics Initiative",
                'description' : "
                        The Oz Mammals Genomics Initiative is an Australia-wide collaboration involving researchers
                        from more than 30 institutions, which aims to develop genomic resources for Australia's
                        mammals.
                ",
            } %}
    {% if projects.append(omg) %} {% endif %}

    {% set gap = {
                'logo' : "Logo_plants_updown.png",
                'has_logo' : "true",
                'special_class' : "no-circular-logo",
                'icon' : "icon_gap.jpg",
                'slug' : "bpa-plants",
                'url' : "/organization/bpa-plants",
                'title' : "Genomics for Australian Plants",
                'description' : "
                        The Genomics for Australian Plants Initiative is a national collaborative project, which aims to
                        develop genomic resources for the Australian plants community.
                ",
            } %}
    {% if projects.append(gap) %} {% endif %}

    {% set ausarg = {
                'logo' : "AusARG-Logo-RGB-150dpi-Transparent.png",
                'has_logo' : "true",
                'icon' : "icon_arg.jpg",
                'slug' : "ausarg",
                'url' : "/organization/ausarg",
                'title' : "Australian Amphibian and Reptile Genomics Initiative",
                'description' : "
                        The Australian Amphibian and Reptile Genomics Initiative is a national collaborative project
                        that that will facilitate research using genomics approaches towards a more thorough
                        understanding of evolution and conservation of Australia’s unique native Amphibians and
                        Reptiles.
                ",
            } %}
    {% if projects.append(ausarg) %} {% endif %}

    {% set tsi = {
                'logo' : "Threatened-Species-Initiative-Logo-150dpi-RGB.png",
                'has_logo' : "true",
                'icon' : "icon_tsi.jpg",
                'slug' : "threatened-species",
                'url' : "/organization/threatened-species",
                'title' : "Threatened Species Initiative",
                'description' : "
                        The Threatened Species Initiative (TSI) will create 
                        a national library of genomic data to support
                        decision-making for biodiversity conservation.
                ",
            } %}
    {% if projects.append(tsi) %} {% endif %}

    {% set gbr = {
                'logo' : "coral.png",
                'icon' : "icon_gbr.png",
                'slug' : "bpa-great-barrier-reef",
                'url' : "http://www.bioplatforms.com/bpa-great-barrier-reef",
                'title' : "Great Barrier Reef",
                'description' : "
                        The Sea-quence Project is generating core genetic data for corals from the
                        Great Barrier Reef and Red Sea to ultimately help guide reef management
                        practices.
                ",
            } %}
    {% if projects.append(gbr) %} {% endif %}

    {% set melanoma = {
                'logo' : "melanoma.png",
                'icon' : "icon_melanoma.jpg",
                'slug' : "bpa-melanoma",
                'url' : "http://www.bioplatforms.com/melanoma",
                'title' : "Melanoma",
                'description' : "
                        The Melanoma Genomics Project aims to whole genome sequence approximately 500 melanoma patients.
                ",
            } %}
    {% if projects.append(melanoma) %} {% endif %}

    {% set wpt = {
                'logo' : "fusarium_head_blight_infected_ear.png",
                'icon' : "icon_wheat_pathogens_transcript.png",
                'slug' : "bpa-wheat-pathogens-transcript",
                'url' : "http://www.bioplatforms.com/wheat-datasets",
                'title' : "Wheat Pathogens Transcript",
                'description' : "
                        This dataset contains transcript sequence data from 8 different fungal pathogen species of
                        wheat.
                ",
            } %}
    {% if projects.append(wpt) %} {% endif %}

    {% set wpg = {
                'logo' : "stagonospora_nodorum.png",
                'icon' :"icon_wheat_pathogens_genomes.png",
                'slug' : "bpa-wheat-pathogens-genomes",
                'url' : "http://www.bioplatforms.com/wheat-datasets",
                'title' : "Wheat Pathogens Genomes",
                'description' : "
                        This dataset contains the genomic sequence from 10 fungal and 2 bacterial pathogen species.
                        Among the pathogens sequenced are the causal agents of stripe rust, stem rust, tan spot, 
                        glume blotch, septoria leaf blotch, bare patch and crown rot/head blight.
                ",
            } %}
    {% if projects.append(wpg) %} {% endif %}

    {% set wc = {
                'logo' : "wheat.png",
                'icon' : "icon_wheat.png",
                'slug' : "bpa-wheat-cultivars",
                'url' : "http://www.bioplatforms.com/wheat-datasets",
                'title' : "Wheat Cultivars",
                'description' : "
                        This dataset contains genomic sequence information from 16 wheat varieties of
                        importance to Australia selected and prioritised by the major stakeholders of
                        the Australian grains research community based on availability of mapping
                        populations and genetic diversity.
                ",
            } %}
    {% if projects.append(wc) %} {% endif %}

    {% set stemcells = {
                'logo' : "stemcell.png",
                'icon' : "icon_stemcells.png",
                'slug' : "bpa-stemcells",
                'url' : "http://www.bioplatforms.com/stem-cells",
                'title' : "Stem Cells",
                'description' : "
                        Stem cells allow us to study fundamental processes in tissue growth,
                        development, aging and disease.
                ",
            } %}
    {% if projects.append(stemcells) %} {% endif %}

    {% macro render_initiative(i) %}
      <div>
        {% set org_link = h.url_for('dataset', organization=i.slug) %}
        <a href="{{ org_link }}">
          <img class="icon_logo_default" src="{{ i.icon }}" alt="{{ i.title }}">
        </a>
      </div>
      <div class="project-details">
        <a href="{{ org_link }}">
          <h3>{{ i.title }}</h3>
        </a>
        <p class="project-description truncate-overflow">
          {{ i.description }}
        </p>
        <label class="truncate-toggle" for="project-description" role="button" onclick="toggleExpandedButton(this)">read
          more</label>
        <ul class="nav nav-pills">
          <li><a href="{{ org_link }}"><span
              class="fa fa-database"></span> Datasets</a></li>
          <li><a href="{{ i.url }}"> <span
              class="fa fa-globe"></span> Project</a></li>
        </ul>
      </div>
    {% endmacro %}

    <div class="container">
      <h3 class="heading">{{ _("Search within a project") }}</h3>
      <div class="row row-eq-height">
        {% for p in projects %}
          <div class="col-sm-3">
            {{ render_initiative(p) }}
          </div>
          {% if loop.index is divisibleby 4 %}
            {# restart row #}
            </div>
            <div class="row row-eq-height">
          {% endif %}
        {% endfor %}
        </div>
    </div>
  </div>
</div>
