<div class="bulk-btn">
    {{ h.snippet('ckanext_bulk/snippets/common_popover.html', calling_page="cart", username=username) }}
</div>
<p>&nbsp;</p>
<ul class="shopping-cart-dock--items dataset-list list-unstyled">
    {% for item in h.shopping_cart_show_cart(cart, scope, username) %}

        {% if item.details is defined and item.details.type is defined and item.details.short_title is defined and item.details.name is defined %}
        <li class="shopping-cart-dock--item dataset-item">
            <div class="dataset-content">
                <h2 class="dataset-heading">
                    {{ h.link_to(item.details.short_title, h.url_for('%s.read' % item.details.type, id=item.details.name)) }}
                </h2>
                <div>{{ item.details.notes }}</div>
                <button
                    class="btn btn-sm btn-secondary"
                    data-module="shopping-cart-order"
                    data-module-item="{{ item.id }}"
                    data-module-in-cart="true"
                    data-module-scope="{{ scope }}"
                    data-module-cart="{{ cart }}"
                    data-module-username="{{ username }}"
                >
                        {{ _("Remove") }}
                </button>
            </div>
        </li>
       {% else %}
            <li class="shopping-cart-dock--item dataset-item">
               <h2 class="dataset-heading">
                    {{ _("Problem adding ") }} {{ item.id }} {{ _(". Please remove and re-add to the cart for successful display/export. ") }}
                </h2>
                 <button
                    class="btn btn-sm btn-secondary"
                    data-module="shopping-cart-order"
                    data-module-item="{{ item }}"
                    data-module-in-cart="true"
                    data-module-scope="{{ scope }}"
                    data-module-cart="{{ cart }}"
                    data-module-username="{{ username }}"
                >
                        {{ _("Remove") }}
                </button>
        </li>
        {% endif %}
    {% endfor %}
</ul>
<div>&nbsp;</div>