{% ckan_extends %}

{% block secondary_content %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="fa fa-users"></i> {{ _('Register') }}</h2>
    <div class="module-content">
      <p>
        Please register for the Bioplatforms Australia Data Portal by completing
	the form to the right.
      </p>
      <p>
	Please provide your name, email, a username to use, a password, and the
	reason for your request.
      </p>
      <p>
        All metadata describing the sequence data is available once you are registered,
          as are non-embargoed sequence files.
      </p>
      <p> Once registered, you will have access to the publicly available portion of the datasets for the initiative
        you selected.
      </p>
      <p>You can request membership of projects of interest to obtain access to restricted sequence files
        (projects currently under embargo).
      </p>
      <p>Please contact <a href="mailto:help@bioplatforms.com">help@bioplatforms.com</a> with details of your username,
        the embargo section you would like access to and confirmation of eligibility
        (reason for access and link to the lead project team).
      </p>
      <p> If the project you are interested in does not appear on this page,
          visit the Memberships page once logged in to request access.
      </p>
    </div>
  </section>
{% endblock %}
