{% ckan_extends %}

{% block content_primary_nav %}
  {% if h.check_user_dataset_access() %}
    {{ h.build_nav_icon('user.read', h.humanize_entity_type('package', dataset_type, 'content tab') or _('Datasets'), id=user.name, icon='sitemap') }}
  {% endif %}
  <li><a href="/cart/{{user.name}}"><i class="fa fa-shopping-cart"></i>{{ _('Shopping Cart') }}</a></li>
  {% if h.check_access('api_token_list', {'user': user['name']}) %}
    {{ h.build_nav_icon('user.api_tokens', _('API Tokens'), id=user.name, icon='key') }}
  {% endif %}
{% endblock %}

