<p>
The 
<a href="https://bioplatforms.com/projects/">
Bioplatforms Australia Framework Initiatives 
</a>
are national collaborative 
projects that use integrated ‘omics infrastructure to generate high-impact 
data and knowledge resources to support some of Australia’s biggest 
scientific challenges. These challenges span agriculture, biomedicine, 
the environment and industry, as well as extending to relevant 
international endeavours.
</p>

<p>
These interdisciplinary and collaborative initiatives deliver large-scale 
open science programs that:
<ul>
    <li>
        deliver lasting outcomes that serve as a leading and 
	trusted resource;
    </li>
    <li>
        cultivate meaningful collaborations and partnerships beyond 
	discipline and institutional boundaries;
    </li>
    <li>
        support translation of research into impact; and
    </li>
    <li>
        encourage innovation through an agile and future-looking 
	implementation framework.
    </li>
</ul>

<p>
The resulting datasets are stored (or linked to within) this 
<a href="/">Data Portal</a>
and are all accompanied by a rich set of metadata to enhance reuse.
</p>

<p>
Full access to the Data Portal ‘omics resources requires registration.
Bioplatforms Australia has defined
<a href="https://bioplatforms.com/terms-and-conditions/">
Terms and Conditions
</a>
for access of their website, along with a Privacy statement on data 
collection, which apply identically to the present Data Portal.
</p>

<p>
Data Portal user support guides are available through our dedicated 
<a href="https://bioplatformsaustralia.github.io/dataportal-usersupport/">
GitHub
</a>
page.  The Bioplatforms Australia data portal allows programmatic access 
via the standard CKAN
<a href="https://data.bioplatforms.com/organization/pages/bioplatforms-australia/api-access">
API
</a>. 
</p>

<p>
If you have any questions or issues about the Data Portal, please contact 
<a href="mailto:help@bioplatforms.com">
help@bioplatforms.com.
</a>
</p>

<p>
If you have any questions about the Bioplatforms Framework Initiative 
Program please contact 
<a href="mailto:srichmond@bioplatforms.com">
	Sarah Richmond, srichmond@bioplatforms.com
</a>
</p>

<p>
A full list of supported projects is available on the 
<a href="https://bioplatforms.com/projects/">
	Bioplatforms Australia
</a>
website.
</p>
