<div>
          <p>The BioPlatforms Australia data portal allows programmatic access via the standard CKAN API. The API can be accessed from commonly used programming languages including Python and R.</p>

<p>To access the API:</p>

<ol>
	<li>Go to https://data.bioplatforms.com/ and hit the register link on the top right.</li>
	<li>If you require access to restricted datasets, contact&nbsp;<a href="mailto:data.access@bioplatforms.com" target="_blank">data.access@bioplatforms.com</a>&nbsp;to request access</li>
	<li>You can find your API key by clicking on your username at the top-right of the data portal website. The key will be shown in the sidebar at the left.&nbsp;</li>
</ol>

<p>The API documentation provided by CKAN is the best place to start:</p>

<p><a href="http://docs.ckan.org/en/latest/api/" target="_blank">http://docs.ckan.org/en/latest/api/</a></p>

<p>You can replace demo.ckan.org in the examples with data.bioplatforms.org to try the examples against the BPA Data Portal. (eg https://data.bioplatforms.com/api/3/action/tag_list).</p>

</div>