<p>
For Frequently Asked Questions, Data Portal user support guides are available through our 
dedicated 
<a href="https://bioplatformsaustralia.github.io/dataportal-usersupport/">
GitHub
</a>
page.  The Bioplatforms Australia data portal allows programmatic access 
via the standard CKAN
<a href="https://data.bioplatforms.com/organization/pages/bioplatforms-australia/api-access">
API
</a>. 
</p>

<p>
If you have any questions or issues about the Data Portal, please contact 
<a href="mailto:help@bioplatforms.com">
help@bioplatforms.com.
</a>
</p>

<p>
If you have any questions about the Bioplatforms Framework Initiative 
Program please contact 
<a href="mailto:srichmond@bioplatforms.com">
	Sarah Richmond, srichmond@bioplatforms.com
</a>
</p>

