                    <div class="col-sm-3" data-module="bpatheme_project_icon_block"
                         data-module-project="{{ h.dump_json(project) }}">
                        <div class="placeholder loading">
                        </div>
                        <div class="project-name">
                            <h3>{{ project.title }}</h3>
                        </div>
                        <p class="project-description truncate-overflow">
                            {{ project.description }}
                        </p>
                    </div>