<div class="module-content box">
  <header>

    <p class="lead">
      Welcome to the Bioplatforms Australia data access portal.
    </p>

    <p>
      Bioplatforms Australia enables innovation and collaboration through investments in world class infrastructure and expertise.
    </p>

    <p>
      This portal provides access to both metadata and data for Bioplatforms projects. Please see the 
      <a href="{{ h.url('group_index') }}">project index</a>. All information can also be accessed
      programmatically, via the <a href="http://docs.ckan.org/en/ckan-2.5.2/api/">CKAN API</a>.
    </p>

  </header>

</div>