{% set tags = h.get_facet_items_dict('tags', limit=7) %}
{% set placeholder = _('E.g. environment') %}

<div class="module module-search module-narrow module-shallow box">

  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <h3 class="heading">{{ _("Search data") }}</h3>
    {% snippet 'snippets/search_form_common.html', form_id='homepage-search-form', type='dataset', query='', sorting=sorting, sorting_selected=c.sort_by_selected, facets=facets, placeholder=_('Search datasets...'), show_empty=request.params, fields=c.fields %}
  </form>
</div>


