{% set tags = h.get_facet_items_dict('tags', search_facets, limit=7) %}
{% set placeholder = _('E.g. environment') %}
{% set dataset_type = h.default_package_type() %}

<div class="module-search card box">
  <form class="module-content search-form" method="get" action="{% url_for dataset_type ~ '.search' %}">
    {{ h.csrf_input() if 'csrf_input' in h }}
    <h3 class="heading">{{ _("Search all datasets") }}</h3>
    {% snippet 'snippets/search_form_common.html', form_id='homepage-search-form', type='dataset', query='', sorting=sorting, sorting_selected=sorting_selected, facets=facets, placeholder=_('Search datasets...'), show_empty=request.args, fields=fields %}
  </form>
      {% if request.args.q is defined %}
  <div class="bulk-btn" >
    {%- if calling_page is defined %}
     {{ h.snippet('ckanext_bulk/snippets/common_popover.html', calling_page=calling_page, id=id, query=request.args.q) }}
    {%- else %}
    {{ h.snippet('ckanext_bulk/snippets/common_popover.html', calling_page = 'generic_search', query=request.args.q) }}
    {%- endif %}
  </div>
      {% endif %}
</div>


