.homepage {
  .media-heading{
    word-break: inherit;
    hyphens: manual;
  }

  .stats {

    ul {
      padding-left: 0;
      li {
        @media(max-width: 500px){
          &:nth-child(2n - 1){
            clear: both;
          }
          width: 50%;
        }
        @media(min-width: $tablet-top + 1px) and (max-width: $desktop-top){
          &:nth-child(2n - 1){
            clear: both;
          }
          width: 50%;
        }
        a {
          font-size: $body-fz;
          &:hover{
            text-decoration: underline;
          }
          b{
            font-size: $h2-fz;
            line-height: $body-lh;
          }
        }
      }
    }
  }
  .module-heading a{
    font-size: $h2-fz;
  }
  .search-form{
    padding: 0;
  }
  .span6 {
      .box {
          @include langate-link-decoration;
      }
  }
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.4em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.project-description {
  @include multiLineEllipsis($lineHeight: 1.4em, $lineCount: 3, $bgColor: white);
}