/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */
.leaflet-draw-toolbar a {
  background-image: url("img/spritesheet.png");
  background-repeat: no-repeat;
}

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url("img/spritesheet-2x.png");
  background-size: 270px 30px;
}
.nav-tabs {
  font-size: 10pt;
}
img#beta {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
  background-position: 50% 50% !important;
}

.account-masthead {
  height: 39px;
  background: none;
  background-color: #fefefe;
}

/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: #fcfcfc;
}

/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgb(105, 115, 124);
}

/* Transparent separator between links */
.account-masthead .account ul li {
  border-left: 2px transparent;
}

/* Links on a:hover. */
.account-masthead .account ul li a:hover {
  color: rgb(40, 40, 40);
  background-color: #ffffff;
}

/* The "dashboard" and number of notifiations background */
.account-masthead .account .notifications a:hover span {
  color: rgb(105, 115, 124);
  background-color: inherit;
}

/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.dwga-header-container {
  padding: 5px;
  background: none;
}

/* Invisible debug output for controller/action */
.debug {
  color: #fefefe;
}

.dwga-search {
  float: right;
}

/* Padding around logo and search */
.dwga-header-row {
  padding: 10px;
  margin-left: 0px;
}

.dwga-inlineblock {
  display: inline-block;
}

.dwga-title {
  margin-left: 15px;
}
.masthead {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  background: none;
  background-color: #fcfcfc;
}

.dwga-header {
  color: #69737c;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  height: 134px;
  line-height: 27.09375px;
  margin-bottom: 0px;
  margin-left: 101px;
  margin-right: 101px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

/* Alignment of navigation */
.masthead .navigation,
ul.nav {
  margin: 0px 0px 2px 0px;
}
/* Float the navbar left */
/* data.wa.gov.au floats left, here it looks better floating right */
.masthead .nav-collapse {
  float: left;
}

/* Navigation links on hover */
.masthead .navigation ul.nav li a:hover,
.masthead .navigation ul.nav li.active a {
  background: none;
  color: #2ea3f2;
  text-decoration: none;
  box-shadow: none;
}

/* Space the nav links (Dataset, Orgs, Groups) so the hover/active underline is separated */
.navbar .nav > li > a {
  margin-left: 2px;
}

/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}

.masthead a,
.masthead hgroup h2,
.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus,
.account-masthead .account .notifications a span {
  color: rgb(105, 115, 124);
  text-shadow: none;
  margin-left: 2px;
}

/* changes for bpa logo */
.masthead #dwga-header-container .dwga-logo {
  background: none;
}
.masthead #dwga-header-container .dwga-logo:hover {
  background: none;
}
.masthead #dwga-header-container .dwga-logo .logo {
  display: inline-block;
}
.masthead #dwga-header-container .dwga-logo {
  height: 100%;
  width: 100%;
}
.masthead .logo img {
  max-height: 100%;
}
img {
  max-width: 100%;
}

/* end of changes for bpa logo */

/* Navigation links on hover */
/* .masthead .navigation ul.nav li a:hover,
.masthead .navigation ul.nav li.active a {
  background: none;
  color: #2ea3f2;
  text-decoration: none;
  box-shadow: none;
} */

.toolbar,
.toolbar::before,
.toolbar::after {
  border-bottom: none;
}

/* hide breadcrums */
/* .toolbar {
  display: none;
}
.breadcrums {
  display: none;
} */
/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Hide featured section */
.featured {
  visibility: hidden;
  height: 0px;
}

/* The background outside of the hero pane */
.hero,
[role="main"] {
  background: #fefefe;
}
/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(105, 115, 124);
  background-color: white;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  color: rgb(105, 115, 124);
  background-color: #fcfcfc;
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.module-content p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.homepage .module-search {
  padding: 0px;
}
/* Bottom half of front page for featured orgs/groups */
.homepage [role="main"] {
  min-height: 100px;
}

/* private datasets */
.module-content .dataset-private {
  margin-top: 14px;
  margin-right: 10px;
}
.module-content .label-private {
  background-color: #333333;
  font-family: Arial, sans-serif;
}

.module-content .label.label-inverse a {
  text-decoration: none;
  /* color: #ffffff !important; */
  color: lightgrey;
}
a,
a:active,
a:hover,
a:focus {
  color: rgb(32, 57, 157);
  text-decoration: none;
}

/* The box around featured orgs/groups */
.box {
  border: none;
}

.btn {
  border: 1px solid #cccccc;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

/* page header for bar with menu home|dataset|methods|gallery|information etc */
.wrapper .page-header {
  background: none;
}

.module-content p {
  margin-top: 1em;
  margin-bottom: 1em;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
  color: rgb(86, 86, 86);
  background-color: rgb(200, 200, 200);
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgb(230, 230, 230);
  background-color: #1e73be;
}
/* The link texts in the footer. */
.site-footer a {
  color: rgb(255, 255, 255);
}

.site-footer ul.nav li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(22, 47, 137);
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
}

/* The debug toggle */
#debug-toggle {
  color: rgb(200, 200, 200);
}

/* Fix wrapping of label in list on resource page */
/* .nav-item > a span {
  white-space: nowrap;
  overflow: hidden;
  display: block;
} */

.org-sidebar {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #555;
}

.site-footer {
  padding: 0px;
  min-height: 0px;
}

.site-footer-links {
  text-align: center;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px;
}

.site-footer-links a {
  padding-right: 15px;
}

.site-footer-logo {
  background-color: #171717;
  /* padding-top: 30px;
  padding-bottom: 30px; */
  padding: 30px;
  text-align: center;
}

/* Need this to break out of the automatically generated .container class*/
.site-footer .container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

/* ====================================
   For changing the heading to include the words Data Portal
   ==================================== */

.pull-left > img {
  padding-left: 20px;
  /*height: 80px;*/
}

.data_portal_text {
  color: black;
  line-height: 3;
  padding-left: 140px;
  font-size: 28px;
}

.dwga-inlineblock {
  /*display: block;*/
}
