{% ckan_extends %}

{% set res = resource %}
{% set authorized = h.check_access('resource_show', {'id': res.id, 'resource': res }) %}
{% block breadcrumb_content %}
{{ super() }}
<!-- remove truncation -->
<li class="active"><a href="" title="{{ h.resource_display_name(res) }}">{{ h.resource_display_name(res) }}</a></li>
{% endblock %}

{% block pre_primary %}
  {% block resource %}
    <section class="module module-resource" role="complementary">
      {% block resource_inner %}
      <div class="module-content">
        <div class="actions">
            {% if authorized %}
          {% block resource_actions %}
            <ul>
              {% block resource_actions_inner %}
                {% block action_manage %}
                  {% if h.check_access('package_update', {'id':pkg.id }) %}
                    <li>{% link_for _('Manage'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='wrench' %}</li>
                {% endblock action_manage %}
                </ul>
                <div class="dropdown btn-group">
                    <a href="#" class="toggle-one btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="fa    fa-share"></i>
                        {{ _('Access') }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu ">
                        {% if h.check_access('resource_show', {'id':res.id }) %}
                        <li>
                            {% snippet 'ckanext_s3filestore/snippets/download_window_link.html', id=pkg.name,
                            resource_id=res.id
                            %}
                        </li>
                        {% endif %}
                    {% if res.url and h.is_url(res.url) %}
                      <a class="btn btn-primary resource-url-analytics" href="{{ res.url }}">
                        {% if res.resource_type in ('listing', 'service') %}
                          <i class="fa fa-eye"></i> {{ _('View') }}
                        {% elif  res.resource_type == 'api' %}
                          <i class="fa fa-key"></i> {{ _('API Endpoint') }}
                        {% elif not res.has_views and not res.url_type == 'upload' %}
                          <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
                        {% else %}
                          <i class="fa fa-arrow-circle-down"></i> {{ _('Download') }}
                        {% endif %}
                      </a>
                    {% endif %}
                    {% block download_resource_button %}
                      {% if res.datastore_active %}
                        <button class="btn btn-primary dropdown-toggle" role="button" id="dropdownDownloadFormat" data-bs-toggle="dropdown" aria-expanded="false" aria-label="{{ _('List of downloadable formats') }}">
                          {% if not res.url or not h.is_url(res.url) %}
                            {{ _('Download') }}&nbsp;
                          {% endif %}
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownDownloadFormat">
                          <li>
                            <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, bom=True) }}"
                              target="_blank" rel="noreferrer"><span>CSV</span></a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, format='tsv', bom=True) }}"
                              target="_blank" rel="noreferrer"><span>TSV</span></a>
                          </li>
                          <li>
                              <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, format='json') }}"
                              target="_blank" rel="noreferrer"><span>JSON</span></a>
                          </li>
                          <li>
                              <a class="dropdown-item" href="{{ h.url_for('datastore.dump', resource_id=res.id, format='xml') }}"
                              target="_blank" rel="noreferrer"><span>XML</span></a>
                          </li>
                        </ul>

                  {% endif %}
                {% endblock %}
                        </li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock %}
            {% endif %}
        </div>
        {% block resource_content %}
          {% block resource_read_title %}<h1 class="page-heading" title="{{ h.resource_display_name(res) }}">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}
          {% if authorized %}
          {% block resource_read_url %}
            {% if res.url and h.is_url(res.url) %}
              <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
            {% elif res.url %}
              <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
            {% endif %}
          {% endblock %}
          {% endif %}
          <div class="prose notes" property="rdfs:label">
            {% if res.description %}
              {{ h.render_markdown(res.description) }}
            {% endif %}
            {% if not res.description and package.notes %}
              <h3>{{ _('Dataset description:') }}</h3>
              <blockquote>{{ h.markdown_extract(h.get_translated(package, 'notes')) }}</blockquote>
              <p>{% trans dataset=h.get_translated(package, 'title'), url=h.url_for(package.type ~ '.read', id=package.name) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
            {% endif %}
          </div>
        {% endblock %}
      {% block data_preview %}
      {% block resource_view %}
        {% block resource_view_nav %}
          {% snippet "package/snippets/resource_views_list.html",
             views=resource_views,
             pkg=pkg,
             is_edit=false,
             view_id=current_resource_view['id'],
             resource=resource,
             extra_class="nav-tabs nav-tabs-plain"
           %}
        {% endblock %}
          {% block resource_view_content %}
            <div class="resource-view">
              {% if resource_views %}
                  {% for resource_view in resource_views %}
                    {% if resource_view == current_resource_view %}
                      {% snippet 'package/snippets/resource_view.html',
                         resource_view=resource_view,
                         resource=resource,
                         package=package
                       %}
                    {% endif %}
                  {% endfor %}
              {% else %}
                {# Views not created #}
                <div class="data-viewer-info">
                  <p>{{ _("There are no views created for this resource yet.") }}</p>
                  {% if h.check_access('resource_view_create', {'resource_id': resource.id}) %}
                    <p class="text-muted">
                      <i class="fa fa-info-circle"></i>
                      {{ _("Not seeing the views you were expecting?")}}
                      <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#data-view-info">
                        {{ _('Click here for more information.') }}</a>
                    </p>
                    <div id="data-view-info" class="collapse">
                      <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                      <ul>
                        <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                        <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                        <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                      </ul>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          {% endblock %}
        </div>
      {% endblock %}
      {% endblock %}
      {% endblock %}
    </section>
  {% endblock %}
{% endblock %}

