{% ckan_extends %}
{% import 'macros/form.html' as form %}


  {% block package_search_results_api %}
    <section class="module">
      <div class="module-content api-info-section">
        {% block package_search_results_api_inner %}
          {{ super() }}
        {% endblock %}
      </div>
    </section>
  {% endblock %}


{% block secondary_content %}
  <div class="filters">
    <div>
      {% for facet in facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
  {% snippet "spatial/snippets/spatial_query.html", default_extent="[[-40,110], [0, 130]]" %}
{% endblock %}
