{% set can_edit = h.check_access('package_update', {'id': pkg.id }) %}
{% set url_action = pkg.type ~ ('_resource.edit' if url_is_edit and can_edit else '_resource.read') %}
{% set url = h.url_for(url_action, id=pkg.name, resource_id=res.id) %}

{% if not url_is_edit %}
<div class="explore">
    <span class="download-window-icon">
    </span>
    <span>
        <div class="dropdown btn-group">
                    <a href="#" class="btn btn-primary dropdown-toggle" type="button" id="dropdownExplorer" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa    fa-share"></i>
                        {{ _('Access') }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownExplorer">
                {% block resource_item_explore_links %}
                  {% block explore_view %}
                    <li>
                      <a class="dropdown-item" href="{{ url }}">
                        {% if res.has_views %}
                          <i class="fa fa-chart-bar"></i>
                          {{ _('Preview') }}
                        {% else %}
                          <i class="fa fa-info-circle"></i>
                          {{ _('More information') }}
                        {% endif %}
                      </a>
                    </li>
                  {% endblock explore_view %}

                  {% if res.url and h.is_url(res.url) %}
                  <a class="dropdown-item resource-url-analytics" href="{{ res.url }}" target="_blank" rel="noreferrer">
                    {% if res.has_views or res.url_type == 'upload' %}
                      <i class="fa fa-arrow-circle-down"></i>
                      {{ _('Download to desktop') }}
                    {% else %}
                      <i class="fa fa-external-link"></i>
                      {{ _('Go to resource') }}
                    {% endif %}
                  </a>
                </li>
                        <li>
                            {% snippet 'ckanext_s3filestore/snippets/download_window_link.html', id=pkg.name, resource_id=res.id %}
                        </li>
                {% endif %}
                {% if can_edit %}
                <li>
                  <a class="dropdown-item" href="{{ h.url_for(pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id) }}">
                  <i class="fa fa-pencil-square"></i>
                                {{ _('Edit') }}
                            </a>
                        </li>
                        {% endif %}
                {% endblock %}
            </ul>
        </div>
    </span>
</div>
{% endif %}
