{% set can_edit = h.check_access('package.update', {'id': pkg.id }) %}
{% set url_action = pkg.type ~ ('_resource.edit' if url_is_edit and can_edit else '_resource.read') %}
{% set url = h.url_for(url_action, id=pkg.name, resource_id=res.id) %}

{% if not url_is_edit %}
<div class="explore">
    <span class="download-window-icon">
    </span>
    <span>
        <div class="dropdown btn-group">
                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="fa    fa-share"></i>
                        {{ _('Access') }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                {% block resource_item_explore_links %}
                        <li>
                            <a href="{{ url }}">
                                {% if res.has_views %}
                                <i class="fa fa-bar-chart-o"></i>
                                {{ _('Preview') }}
                                {% else %}
                                <i class="fa fa-info-circle"></i>
                                {{ _('More information') }}
                                {% endif %}
                            </a>
                        </li>
                        {% if res.url and h.is_url(res.url) %}
                        <li>
                            <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
                                {% if res.has_views or res.url_type == 'upload' %}
                                <i class="fa fa-arrow-circle-o-down"></i>
                                {{ _('Download to desktop') }}
                                {% else %}
                                <i class="fa fa-external-link"></i>
                                {{ _('Go to resource') }}
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            {% snippet 'ckanext_s3filestore/snippets/download_window_link.html', id=pkg.name, resource_id=res.id %}
                        </li>
                        {% endif %}
                        {% if can_edit %}
                        <li>
                            <a href="{{ h.url_for(pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id) }}"> }}">
                                <i class="fa fa-pencil-square-o"></i>
                                {{ _('Edit') }}
                            </a>
                        </li>
                        {% endif %}
                {% endblock %}
            </ul>
        </div>
    </span>
</div>
{% endif %}
