{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>

    <p class="lead">
      Welcome to the Bioplatforms Australia data access portal.
    </p>

    <p>
      Bioplatforms Australia enables innovation and collaboration through investments in world class infrastructure and expertise.
    </p>
     {% set api_link = h.link_to(_('CKAN API'), h.url_for(controller='api', action='get_api', ver=3)) %}
     {% set api_doc_link = h.link_to(_('CKAN API Docs'), 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version)) %}
    <p>
      This portal provides access to both metadata and data for Bioplatforms projects. Please see the 
      <a href="{{ h.url('group_index') }}">project index</a>. All information can also be accessed
      programmatically, via the {{ api_link }} ({{ api_doc_link}}).
    </p>

  </header>

</div>
