{% ckan_extends %}

{% block styles %}
    {{ super() }}
    {% resource 'bpatheme/styles/bpatheme.css' %}
    {% resource 'bpatheme/drop_down_menu.js' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
{#    {% resource 'bpatheme/modernizr-custom.js' %}#}
    {% resource "bpatheme/datawa-organization-opener.js" %}
    {% resource "bpatheme/datawa.js" %}
    <script>/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */


    var nVer = navigator.appVersion;
    var nAgt = navigator.userAgent;
    var browserName = navigator.appName;
    var fullVersion = '' + parseFloat(navigator.appVersion);
    var majorVersion = parseInt(navigator.appVersion, 10);
    var nameOffset, verOffset, ix;
    if ((verOffset = nAgt.indexOf("Safari")) !== -1 && (verOffset = nAgt.indexOf("Chrome")) === -1) {
        browserName = "Safari";
        fullVersion = nAgt.substring(verOffset + 7);
        if ((verOffset = nAgt.indexOf("Version")) !== -1)
            fullVersion = nAgt.substring(verOffset + 8);
    }
    majorVersion = parseInt('' + fullVersion, 10);
    if (isNaN(majorVersion)) {
        fullVersion = '' + parseFloat(navigator.appVersion);
        majorVersion = parseInt(navigator.appVersion, 10);
    }
    console.log('Browser name=' + browserName)
    console.log('fullVersion=' + fullVersion)
    console.log('majorVersion=' + majorVersion)
    console.log('navigator.appName=' + navigator.appName)
    console.log('navigator.userAgent=' + navigator.userAgent)

    var x = document.querySelector("html");
    x.className += 'no-js'
    console.log("setup html tag.")

    function toggleMenuCollapse() {
        var x = document.getElementById("headernav-topnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }

    function toggleExpandedButton(e) {
        const previous = e.previousElementSibling;
        if (e.className === "truncate-toggle") {
            e.className += " off";
            e.innerText = "read less";
            previous.className = "project-description"
        } else {
            e.className = "truncate-toggle";
            e.innerText = "read more";
            previous.className += " truncate-overflow"
        }
    }

    </script>

{% endblock %}

{% block meta %}
    {{ super() }}
    <meta name="google-site-verification" content="SALCs2HUU_-WFKh7s27fxGa7XLBp32nGuuA5zgtr3Zk"/>
    <meta name="msvalidate.01" content="DF3D66336DE6B56D6818F9FD7BE04800"/>
{% endblock %}
