{% ckan_extends %}

{% block styles %}
    {{ super() }}
    {% resource 'bpathemetheme/styles/bpatheme.css' %}
    {% resource 'bpathemetheme/drop_down_menu.js' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% resource "bpathemetheme/datawa-organization-opener.js" %}
    {% resource "bpathemetheme/datawa.js" %}
{% endblock %}

{% block meta %}
   {{ super() }}
   <meta name="google-site-verification" content="SALCs2HUU_-WFKh7s27fxGa7XLBp32nGuuA5zgtr3Zk" />
   <meta name="msvalidate.01" content="DF3D66336DE6B56D6818F9FD7BE04800" />
{% endblock %}
