{% ckan_extends %}

{% block footer_nav %}
    <ul class="unstyled">
        <li><a href="http://www.bioplatforms.com.au">Bioplatforms Australia</a></li>
	{% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
	<li><a href="{{ api_url }}">API Documentation</a></li>
    </ul>
{% endblock %}

{% block footer_attribution %}
<p>Operated by the <a href="https://ccg.murdoch.edu.au">Centre for Comparative Genomics, Murdoch University</a></p>
<p>Powered by <a href="http://ckan.org">CKAN</a></p>
{% endblock %}
