{% ckan_extends %}

{% block footer_content %}
    <div class="site-footer-links">
        <a href="{{ h.url_for(controller='organization', action='index') }}">Organisations</a>
        <a href="{{ h.url_for(controller='package', action='search') }}">Datasets</a>
        <a href="/organization/pages/bioplatforms-australia/api-access">API Access</a>
        <a href="mailto:help@bioplatforms.com">Contact</a>
        <a href="http://www.bioplatforms.com">Operated by Bioplatforms Australia</a>
    </div>
    <div class="site-footer-logo">
     {% set footer_alt_text_bpa = "Bioplatforms Australia" %}
        <span><a target="_blank" rel="noopener noreferrer" class="placeholder" data-module="bpatheme_footer_image" data-module-alt="{{ footer_alt_text_bpa }}" href="https://www.bioplatforms.com/">
            {{ footer_alt_text_bpa }}<span class="loading"></span>
        </a></span>
        {% set footer_alt_text_ncris = "NCRIS" %}
        <span class="ncris-footer"><a target="_blank" rel="noopener noreferrer" class="placeholder" data-module="bpatheme_footer_image" data-module-alt="{{ footer_alt_text_ncris }}"
                href="https://www.education.gov.au/national-collaborative-research-infrastructure-strategy-ncris">
            {{ footer_alt_text_ncris }}<span class="loading"></span>
        </a></span>
    </div>


{% endblock %}
    