<script type="text/javascript" src="{{ h.url_for_static('fanstatic/vendor/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ h.url_for_static('bootstraptable/bootstrap-table.min.js') }}"></script>
<link rel="stylesheet" href="{{ h.url_for_static('bootstraptable/bootstrap-table.min.css') }}"/>

<div role="main" id="layout-summary" class="hero landing">
  <div>
    <table id="summary-table"
           data-pagination="true"
           data-search="true"
           data-show-columns="true"
           data-show-pagination-switch="true"
           data-show-fullscreen="true"
           data-page-size="100">
      <thead>
      <tr>
        {% for next_header in spreadsheet_columns %}
          <th data-sortable="true" data-title-tooltip="{{ next_header }}"
              data-field="{{ next_header }}">{{ next_header|replace(" ", "<br>") }}</th>
        {% endfor %}
      </tr>
      </thead>
    </table>
  </div>
</div>
<script>
    function cleanData(data) {
        return data.replace(/&#34;/g, '"').replace(/&lt;/g, "<").replace(/&gt;/g, ">");
    }

    const spreadsheet_data = JSON.parse(cleanData('{{ spreadsheet_data }}'));
    const $table = $('#summary-table');
    $(function () {
        $table.bootstrapTable({
            data: spreadsheet_data
        });
    })
</script>