{% ckan_extends %}

{% block organization_description %}
      {% set facets = {
        'fields': c.fields_grouped,
        'search': c.search_facets,
        'titles': c.facet_titles,
        'translated_fields': c.translated_fields,
        'remove_field': c.remove_field }
      %}
      {% set sorting = [
        (_('Relevance'), 'score desc, metadata_modified desc'),
        (_('Name Ascending'), 'title_string asc'),
        (_('Name Descending'), 'title_string desc'),
        (_('Last Modified'), 'metadata_modified desc'),
        (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
      %}

      {% if c.group_dict.name != 'australian-microbiome' %}
      {% snippet 'organization/snippets/inline_search_form.html', form_id='organization-datasets-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, placeholder=_('Search datasets...'), show_empty=request.params, fields=c.fields %}

      {% else %}

      <div class="text-center">
      <div class="btn-group"></div>
      <a class="btn btn-large" target="_other" href="/bpa/otu/map">Map</a>
      <a class="btn btn-large" target="_other" href="/bpa/otu/contextual">Contextual data</a>
      <a class="btn btn-large" target="_other" href="/bpa/otu/">Processed data</a>
      </div></div>

      {% endif %}

      {% snippet 'snippets/bpa_register.html', c=c %}

{{ super() }}

      <ul class="nav nav-tabs pull-right" style='padding-top: 2em;'>
        {{ h.build_nav_icon('organization_pages_index', _('Project Pages'), id=c.group_dict.name) }}
        {{ h.build_nav_icon('organization_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
      </ul>

{% endblock %}
