{% ckan_extends %}
{% block organization_description %}
      {% set facets = {
        'fields': fields_grouped,
        'search': search_facets,
        'titles': facet_titles,
        'translated_fields': translated_fields,
        'remove_field': remove_field }
      %}
      {% set sorting = [
        (_('Relevance'), 'score desc, metadata_modified desc'),
        (_('Name Ascending'), 'title_string asc'),
        (_('Name Descending'), 'title_string desc'),
        (_('Last Modified'), 'metadata_modified desc'),
        (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
      %}
      {% if group_dict.name != 'australian-microbiome' %}
      {% snippet 'organization/snippets/inline_search_form.html', form_id='organization-datasets-search-form', type='dataset', query=q, sorting=sorting, sorting_selected=sort_by_selected, facets=facets, placeholder=_('Search datasets...'), show_empty=request.params, fields=fields, group_dict=group_dict %}

      {% else %}

      {% snippet 'snippets/amdb_buttons.html' %}

      {% endif %}

      {% if group_dict.description %}
      {{ h.render_markdown(group_dict.description) }}
      {% endif %}

      <ul class="nav nav-tabs pull-right" style='padding-top: 2em;'>
        {{ h.build_nav_icon('pages.organization_pages_index', _('Project Pages'), id=group_dict.name, icon="file") }}
        {{ h.build_nav_icon('organization.activity', _('Activity Stream'), id=group_dict.name, offset=0, icon="clock-o") }}
      </ul>

{% endblock %}
